<ion-view view-title="Fresh Memory">
    <ion-content class="main-page-bg">
        <br />
        <div class="row text-center">
            <div class="col">
                <span class="text-center text-white general-titles">Your badges</span>
            </div>
        </div>

        <br />

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[0]}}">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[1]}}">
                <span>Adventurer</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[2]}}">
                <span>Warrior</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[3]}}">
                <span>Survivor</span>
            </div>
        </div>

        <br />

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[4]}}">
                <span>Gladiator</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[5]}}">
                <span>Rock star</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[6]}}">
                <span>Emperor</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[7]}}">
                <span>Champion</span>
            </div>
        </div>

        <!--

        <br />

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
        </div>

        -->

        <div class="row bottom-position">
            <div class="col">
                <button ng-click="goToPage('options')" class="button button-block button-royal">Main menu</button>
            </div>
        </div>
    </ion-content>
</ion-view>